<?xml version="1.0"?>
<server>
    <port>1929</port>

    <tcp>
        <buffer>1024</buffer>
    </tcp>

	<players>
		<max>3</max>
    </players>

    <world>
        <savefile>save.xml</savefile>
        <updaterate>0.016</updaterate>
        <networkticks>1</networkticks>
    </world>

	<blacklist>
		<ip>0.0.0.0</ip>
	</blacklist>
</server>
